<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <form action="/users" method="POST">
      <input type="text" name="username" placeholder="Enter name" />
      <input type="password" name="password" />
      <input type="password" name="confirm" />
      <input type="submit" value="Sign up" />
    </form>
  </body>
</html>
