<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <% include ../views/message %>
    <form action="/rooms" method="POST">
      <input type="text" name="title" placeholder="Enter title" />
      <textarea name="description"></textarea>
      <input type="text" name="invite" placeholder="Enter invite user name" />
      <input type="submit" value="Create" />
    </form>
  </body>
</html>
